/*------------------------IDs------------------*/
#top{
background-color:#0099FF;
color:black;
height:3%;
width: 100%;
text-align: center;
position: fixed;
padding:1%;
top:0;
z-index: 10;
}

#search{
/*this is for the search bar eventually */

}

#nav-left{
/*text properties*/
line-height: 40px;
background-color: #FFFF00;
font-size:16;
font-family:"Arial";
height:auto;

/*margins and position*/
bottom:0;
width: 10%;
padding: 0px;
position: absolute;
top: 7%;
}


#nav-right{
/*text properties*/
line-height: 40px;
background-color:#6600CC;
font-size:16;
font-family:"Arial";
text-align: center;

/*margins and position*/
height: 120%;
width: 10%;
padding: 0;
position: absolute;
top: 7%;
left:90%;
}

#post-container{
/*text properties*/
background-color:#3333FF;
line-height: 30px;

/*margins and position*/
width:76%;
position: absolute;
top: 5%;
left:10%;
padding:2%;
}

#post{
background-color:#00FF00;
padding: 5px;
}

body {
background-color: #000066;
padding:0;
margin:0;
}


#font-test{
margin: 10px;
padding: 10px;
font-family:"Sans Serif";
font-size:20;
color:black;
}

#menu_A:hover > .dropdown{
  display: block;
}

#menu_B:hover > .dropdown{
  display: block;
}

#menu_C:hover > .dropdown{
  display: block;
}

#menu_D:hover > .dropdown{
  display: block;
}

/*-------------------Classes------------------*/

.dropdown{
  list-style-type: none;
  display: none;
}
